.mapStats h2{
    color: #0d47a1;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
}

.mapContainer {
    width: calc(100% - 80px);
    margin: 0 auto;
    height: 400px;
}

@media (max-width: 768px) {
  .mapContainer {
    width: calc(100% - 20px);
  }
}

.marker {
  text-align: center;
}

.coords {
  font-size: 12px;
  color: #3ea6ff;
  word-break: break-all;
  text-decoration: underline;
}

.coords:hover {
    cursor: pointer;
}